@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1D1F22;
  --color-accent: #5ECE7B;
  --color-underemphasize: #8D8F9A;
  --font-primary: "Raleway", serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    font-optical-sizing: auto;
    font-style: normal;
  }

.listing {
  transition: box-shadow 0.35s;
  &:hover {
    box-shadow: 0 4px 35px 0 rgba(168, 172, 188, 0.19);
  }
}